    <ul class="menu">
      {% for link in page.nav %}
        {% if page.url contains link.url %}
          <li{% if page.url == link.url %} class="menu-current-selection"{% endif %}>
            <a href="{{link.url}}" title="{{page.title}}">{{link.text}}</a>

            {% if link.subnav != 'none' %}
              <ul class="menu">
                {% for sublink in link.subnav %}
                  <li{% if page.url == sublink.url %} class="menu-current-selection"{% endif %}>
                      <a href="{{sublink.url}}" title="{{sublink.title}}">{{sublink.text}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% else %}
          <li>
              <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
