---
layout: default
nav:
  - text: Why Dartino?
    url: /why/
    subnav: none
  - text: Getting Started
    url: /getting-started/
    subnav:
      - text: STM32F746
        url: /getting-started/stm32f746disco/
      - text: Raspberry Pi 2
        url: /getting-started/raspberrypi2/
  - text: Samples
    url: /samples/
    subnav:
      - text: STM32F746
        url: /samples/stm32f746disco/
      - text: Raspberry Pi 2
        url: /samples/raspberrypi2/
  - text: Guides
    url: /guides/
    subnav:
       - text: Dartino tool
         url: /guides/tool/
       - text: Atom IDE
         url: /guides/atom/
       - text: Debugging
         url: /guides/debugging/
       - text: Concurrency
         url: /guides/concurrency/
  - text: FAQ and feedback
    url: /faq/
    subnav: none
---
<!doctype html>
<html>
  {% include layout_head.html %}
  <body>
    <div class="wrapper">
      <header>
        <p class="header">
          <a href="/">
            <img src="/images/dartino-logo.png" style="width: 150px;" alt="Dartino logo"/>
          <a>
        </p>
        {% include layout_leftnav.html %}
      </header>

      <section>
         {{ content }}
      </section>

      {% include layout_footer.html %}
    </div>
  </body>
