---
layout: default
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Dartino Project</title>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/github-light.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/dart-highlighting.css">
    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-68175072-1', 'auto');
  ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p class="header">
          <img src="/images/dartino-logo.png" style="width: 150px;"/>
        </p>

        <ul>
          <li><a href="/">Why Dartino</a></li>
          <li><a href="/getting-started/">Getting started</a></li>
          <li><a href="/samples/">Samples</a></li>
          <li><a href="/tool.html">Tool details</a></li>
          <li><a href="/faq.html">FAQ and feedback</a></li>
          <li><a href="https://dartino.github.io/api/" target="_blank">API documentation
            <img src="/images/external-link-blue.png" alt="External link icon"
            style="border:0; padding:0; margin:0"/></a>
          </li>
        </ul>
      </header>

      <section>
         {{ content }}
      </section>

      <footer>
        <p class="headersmall">An experimental project by Google and
          the <a href="https://www.dartlang.org"> Dart team</a>.<br>
          Hosted on <a href="https://www.firebase.com/features.html#features-hosting">
          Firebase</a>
        </p>
      </footer>
    </div>
  </body>
