---
layout: default
nav:
  - text: Dartino
    url: /
    subnav: none
---
<!doctype html>
<html>
  {% include layout_head.html %}
  <body>
    <div class="wrapper">
      <header>
        <p class="header">
          <a href="/">
            <img src="/images/dartino-logo.png" style="width: 150px;" alt="Dartino logo"/>
          <a>
        </p>
        {% include layout_leftnav.html %}
      </header>

      <section>
         {{ content }}
      </section>

      {% include layout_footer.html %}
    </div>
  </body>
